

.restaurantImage
{
    -fx-stroke-color : #636363;
    -fx-scale-x : 1.0;
    -fx-scale-y : 1.0;
}

.restaurantImage
{
    -fx-stroke-color : #212121;
    -fx-scale-x : 1.1;
    -fx-scale-y : 1.1;
}

.restaurantLabelBlack
{
    
    -fx-effect : dropshadow(three-pass-box, #FFFFFF, 0.0, 0.0, -2, 1);

    transition : 
                 -fx-effect 0.5s ease-in;
}

.restaurantLabelWhite
{

    -fx-effect : dropshadow(three-pass-box, #000000, 0.0, 0.0, -2, 1);

    transition : 
                -fx-effect 0.5s ease-in;
}

.restaurantLabelOrange
{

    -fx-effect : dropshadow(three-pass-box, #ffffff, 0.0, 0.0, -2, 1);

    transition : 
                -fx-effect 0.5s ease-in;
}